.w-wrapper {
  width: 100%;
  background-color: #b86e6e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.box-1 {
  font-size: 30px;
  font-family: cursive;
  color: black;
}

.box-2 {
  width: 23vw;
  background: #f5eacd;
  border-radius: 30px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.box-3{
 margin-right: 2rem;
 margin-top: 1.6rem;
}
.cat {
  width: 15vw;
  height: 27vh;
  background-image: url('../../assets/Images/Page2Cat1.png');
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  margin-bottom: 20px;
}

.box-2 p {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding-bottom: 12px;
  color: black;
}

.btn {
  width: 11vw;
  height: 6vh;
  border-radius: 20px;
  background-color: #bd282b;
  border: none;
  color: white;
  font-family: "Raleway";
  font-size: 14px;
  letter-spacing: 1px;
  margin-right: 2rem;
}

.inner-box1,
.inner-box2 {
  width: 38vw;
  background: #f5eacd;
  margin-bottom: 20px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.cat-2 {
  width: 9vw;
  height: 17vh;
  background-color: #bd282b;
  background-image: url('../../assets/Images/Page2Cat2.png');
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}

.cat-3 {
  width: 21vw;
  text-align: center;
}

.cat-3 p {
  font-family: "Raleway";
  font-weight: 500;
  color: black;
  font-size: 14px;
  margin-bottom: 1rem;
  line-height: 16px;
}

.cat-4 {
  background-image: url('../../assets/Images/Page2Cat3.png');
}

@media (max-width: 768px) {
  .w-wrapper {
    position: relative;
    flex-direction: column;
    height: auto;
  }

  .box-1 {
    font-size: 20px;
    text-align: center;
    
    margin-bottom: 20px;
  }
  .box-2, .inner-box1, .inner-box2 {
    width: 90%;
    /* margin-bottom: 20px; */
  }

  .cat, .cat-2 {
    width: 100%;
    height: auto;
  }

  .cat-3 {
    width: 90%;
    text-align: center;
  }

  .btn {
    width: 100%;
    padding: 10px;
  }
}
