.s-wrapper {
  width: 100vw;
  height: 140vh;
  background-color: #b86e6e;
}
.s-wrapper h1 {
  font-family: cursive;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  padding-top: 30px;
}
.main-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}
.s-left {
  width: 38vw;
  height: 49vh;
  background: url("https://s3-alpha-sig.figma.com/img/bff2/947e/bacc7db34ffc3f8900a28b2887dea812?Expires=1722816000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NXdIeNBEduG6FiGxRaWw6AClbdZx-ANApovGE4fZoKF3EKvyIIItlwEEbGHxJquBBF8aGjSB-ve9hTeiuGbT9oXeMw5RrczFUK8l1xUuwPy5Q6jzcSH3ebTWGQiKgAiHIA0quFjkgaMxvNBmYDxZgv8oqSg98qPWFg-a5YRsdIxH4D3qZwwMCVJSk0Sjyv2fG5BUTW7MTTcEglp4amC-5T-OrgeNCf6lVjZu1NsPky~5hOhPuL5Oczbda-p52J4mOrRRuRFQVqlTZcKdXUF1Pj5lKY8QvSKFSXyfNGCxXvqCiaYti5yhHwIwSJqSq~-kRBtXlZdaN~t~muKBpJNJOw__");
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  overflow: hidden;
}
.s-overlay {
  width: 38vw;
  height: 49vh;
  background-color: #d5b1b1e2;
  border-radius: 30px;
}
.right-box {
  width: 47vw;
  height: 23vh;
  background-image: url("https://s3-alpha-sig.figma.com/img/bff2/947e/bacc7db34ffc3f8900a28b2887dea812?Expires=1722816000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NXdIeNBEduG6FiGxRaWw6AClbdZx-ANApovGE4fZoKF3EKvyIIItlwEEbGHxJquBBF8aGjSB-ve9hTeiuGbT9oXeMw5RrczFUK8l1xUuwPy5Q6jzcSH3ebTWGQiKgAiHIA0quFjkgaMxvNBmYDxZgv8oqSg98qPWFg-a5YRsdIxH4D3qZwwMCVJSk0Sjyv2fG5BUTW7MTTcEglp4amC-5T-OrgeNCf6lVjZu1NsPky~5hOhPuL5Oczbda-p52J4mOrRRuRFQVqlTZcKdXUF1Pj5lKY8QvSKFSXyfNGCxXvqCiaYti5yhHwIwSJqSq~-kRBtXlZdaN~t~muKBpJNJOw__");
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}
.cutting-img {
  position: relative;
  display: flex;
  align-items: center;
}
.overlay-content {
  width: 300px;
  position: absolute;
  left: 17rem;
  padding: 0 20px 0 20px;
}
.btn {
  margin-left: 3rem;
}
.overlay-content p {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}
.cutting-img > img {
  object-fit: cover;
}
.div-1 {
  margin-bottom: 2rem;
}

.r-div1-overlay {
  width: 47vw;
  height: 23vh;
  background-color: #e0c6b3c6;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.r-div2-overlay {
  width: 47vw;
  height: 23vh;
  background-color: #f6ecd2d7;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div1-left {
  padding: 5rem;
}
.div1-left p {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}
.div1-right,
.div2-right > img {
  object-fit: cover;
}
.div2-left p {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

.div2-left .btn {
  margin-left: 2rem;
}

.div2-left {
  padding: 6rem;
}

.below-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

.b-left,
.b-right {
  width: 42vw;
  height: 49vh;
  background-image: url(https://s3-alpha-sig.figma.com/img/bff2/947e/bacc7db34ffc3f8900a28b2887dea812?Expires=1722816000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NXdIeNBEduG6FiGxRaWw6AClbdZx-ANApovGE4fZoKF3EKvyIIItlwEEbGHxJquBBF8aGjSB-ve9hTeiuGbT9oXeMw5RrczFUK8l1xUuwPy5Q6jzcSH3ebTWGQiKgAiHIA0quFjkgaMxvNBmYDxZgv8oqSg98qPWFg-a5YRsdIxH4D3qZwwMCVJSk0Sjyv2fG5BUTW7MTTcEglp4amC-5T-OrgeNCf6lVjZu1NsPky~5hOhPuL5Oczbda-p52J4mOrRRuRFQVqlTZcKdXUF1Pj5lKY8QvSKFSXyfNGCxXvqCiaYti5yhHwIwSJqSq~-kRBtXlZdaN~t~muKBpJNJOw__);
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  overflow: hidden;
}
.b-left-overlay,
.b-right-overlay {
  width: 42vw;
  height: 49vh;
  background-color: #d5b1b1e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 30px;
}
.b-left-img,
.b-right-img {
  overflow: hidden;
}
.b-left-img,
.b-right-img img {
  object-fit: cover;
  object-position: center;
  margin-top: 3rem;
}

.below-page p {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-left: 2rem;
}
.b-left-content {
  width: 350px;
  position: absolute;
  left: 23rem;
  text-align: center;
  padding: 40px;
}
.b-left-content .btn {
  margin-right: 1rem;
}

.b-right-content {
  width: 350px;
  position: absolute;
  right: 2rem;
  text-align: center;
  padding: 40px;
}
