
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #F5EACD;
    position: relative;
    z-index: 10;
}

.nav-left img {
    max-width: 100%;
    height: auto;
}

.nav-right > ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-right li {
    margin-left: 20px;
    color: #BD282B;
    font-weight: 520;
    font-size: 20px;
    font-family: 'Raleway';
    cursor: pointer;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon-line {
    width: 25px;
    height: 3px;
    background-color: #BD282B;
    margin: 4px;
}

@media (max-width: 768px) {
    .nav-right {
        display: none;
        position: absolute;
        right: 20px;
        top: 70px;
        background: #F5EACD;
        border: 1px solid #BD282B;
        border-radius: 8px;
        padding: 10px;
    }

    .nav-right.open {
        display: flex;
    }

    .nav-right > ul {
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-right li {
        margin: 10px 0;
    }

    .menu-icon {
        display: flex;
    }
}
